[user]
    email = MegaManSec@users.noreply.github.com
    name = Joshua Rogers
[init]
    defaultBrand = main
    defaultBranch = main
[diff]
#    colorMoved = dimmed-zebra
    colorMovedWS = allow-indentation-change
[init]
    defaultBranch = main
[url "git@github.com-work:WorkName/"]
    insteadOf = git@github.com:WorkName/
[url "ssh://git@github.com-work/WorkName/"]
    insteadOf = ssh://git@github.com/WorkName/
