[user]
    email = MegaManSec@users.noreply.github.com
    name = Joshua Rogers
[init]
    defaultBrand = main
    defaultBranch = main
[diff]
    colorMovedWS = allow-indentation-change
[init]
    defaultBranch = main
[url "git@github.com-work:Opera/"]
    insteadOf = git@github.com:Opera/
[url "ssh://git@github.com-work/Opera/"]
    insteadOf = ssh://git@github.com/Opera/
