[user]
	email = MegaManSec@users.noreply.github.com
	name = Joshua Rogers
[init]
	defaultBrand = main
	defaultBranch = main
[diff]
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change
